{% extends "smarthome/base_user.html" %}

{% block title %}History - SmartHome{% endblock %}

{% block content %}
{% load static %}
{% comment %} <script type="text/javascript" src="{% static 'js/log_filter.js' %}" defer></script> {% endcomment %}
<script type="text/javascript" src="{% static 'js/sort_active.js' %}" defer></script>

{% if user.is_staff %}
    <div class="header"><h2>All users logs</h2></div>
{% else %}
    <div class="header"><h2>{{ user_name }}'s logs</h2></div>
{% endif %}

<div class="content">
{% if page_log %}
    <div class="center">
    {% if user.is_staff %}
        <button class="buttonDownload admin" onclick="window.location='{% url 'stats:export' 'all-users' %}'">Download all users logs<br>(Admin)</button>
    {% else %}
        <button class="buttonDownload" onclick="window.location='{% url 'stats:export' 'user' %}'">Download {{ user_name }}'s logs</button>
    {% endif %}
    </div>

{% comment %} <input type="text" id="FilterLogInput" onkeyup="LogFilter()" placeholder="Search for action.." title="Type in an action"> {% endcomment %}

<div class="center">
    <span class="step-links">
        {% if page_log.has_previous %}
            <a href="?page=1">&laquo;1</a>
            <a href="?page={{ page_log.previous_page_number }}"><</a>
        {% endif %}

        <span class="current">
            Page {{ page_log.number }} of {{ page_log.paginator.num_pages }}.
        </span>

        {% if page_log.has_next %}
            <a href="?page={{ page_log.next_page_number }}">></a>
            <a href="?page={{ page_log.paginator.num_pages }}">{{ page_log.paginator.num_pages }}&raquo;</a>
        {% endif %}
    </span>
</div>

<table id="tableLog" class="tableStats">
    <tr>
        {% if user.is_staff %}
        <th>User
            <button id="user" onclick="window.location='{% url 'stats:sort' 'user' %}'">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FFFFFF"><path d="m288-384 192-192 192 192H288Z"/></svg>
            </button>
            <button id="-user" onclick="window.location='{% url 'stats:sort' '-user' %}'">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FFFFFF"><path d="M480-384 288-576h384L480-384Z"/></svg>
            </button></th>
        {% endif %}
        <th>Time 
            <button id="timestamp" onclick="window.location='{% url 'stats:sort' 'timestamp' %}'">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FFFFFF"><path d="m288-384 192-192 192 192H288Z"/></svg>
            </button>
            <button id="-timestamp" onclick="window.location='{% url 'stats:sort' '-timestamp' %}'">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FFFFFF"><path d="M480-384 288-576h384L480-384Z"/></svg>
            </button></th>
        <th>Action 
            <button id="action" onclick="window.location='{% url 'stats:sort' 'action' %}'">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FFFFFF"><path d="m288-384 192-192 192 192H288Z"/></svg>
            </button>
            <button id="-action" onclick="window.location='{% url 'stats:sort' '-action' %}'">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FFFFFF"><path d="M480-384 288-576h384L480-384Z"/></svg>
            </button></th>
        <th>Item kind
            <button id="item_kind" onclick="window.location='{% url 'stats:sort' 'item_kind' %}'">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FFFFFF"><path d="m288-384 192-192 192 192H288Z"/></svg>
            </button>
            <button id="-item_kind" onclick="window.location='{% url 'stats:sort' '-item_kind' %}'">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FFFFFF"><path d="M480-384 288-576h384L480-384Z"/></svg>
            </button></th>
        <th>Item name
            <button id="item_name" onclick="window.location='{% url 'stats:sort' 'item_name' %}'">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FFFFFF"><path d="m288-384 192-192 192 192H288Z"/></svg>
            </button>
            <button id="-item_name" onclick="window.location='{% url 'stats:sort' '-item_name' %}'">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#FFFFFF"><path d="M480-384 288-576h384L480-384Z"/></svg>
            </button>
            <button title="Sort Clear" id="sort-clear" class="buttonDelete" onclick="window.location='{% url 'stats:home' %}'">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e3e3e3"><path d="m592-481-57-57 143-182H353l-80-80h487q25 0 36 22t-4 42L592-481ZM791-56 560-287v87q0 17-11.5 28.5T520-160h-80q-17 0-28.5-11.5T400-200v-247L56-791l56-57 736 736-57 56ZM535-538Z"/></svg>
            </button></th>
    </tr>
    {% for log in page_log %}
    <tr>
        {% if user.is_staff %}
        <td>{{ log.user }}</td>
        {% endif %}
        <td>{{ log.timestamp }}</td>
        <td>{{ log.user_action }}</td>
        <td>{{ log.item_kind }}</td>
        <td>{{ log.item_name }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No logs registered.</p>

</div>
{% endif %}

{% endblock %}
