{% extends "smarthome/base_user.html" %}

{% block title %}{{ device.device_name }} - Details{% endblock %}

{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'js/device_details.js' %}" defer></script>

<div class="container">
<div class="header"><h2>Device: {{ device.device_name }}</h2></div>
<div class="content">
<button class="buttonAdd" onclick="window.location='{% url 'devices:home' %}'">Go back</button>
<p><strong>Type: </strong>{{ device.device_type }}</p>
<p><strong>Room: </strong>{% if device.device_room %}{{ device.device_room }}{% else %}None{% endif %}</p>
{% if device.state and device.power_on %}
    <p><strong>State: </strong>on</p>
{% elif not device.state and device.power_on %}
    <p><strong>State: </strong>stand-by</p>
{% elif not device.state and not device.power_on %}
    <p><strong>State: </strong>off</p>
{% endif %}
<h3>Rules set for this device:</h3>
{% if logic_controllers %}
<table class="tableRules">
    <tr>
        <th>Enable</th>
        <th>Name</th>
        {% if device.device_type.enable_thermal %}
        <th>Start<br>temperature</th>
        <th>End<br>temperature</th>
        {% endif %}
        {% if device.device_type.enable_time %}
        <th>Start<br>time</th>
        <th>End<br>time</th>
        {% endif %}
        {% if device.device_type.enable_thermal %}
        <th>Value</th>
        <th>New value</th>
        {% endif %}
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for rule in logic_controllers %}
        <tr id="rule_{{ rule.id }}">
            <td>{% csrf_token %}
                <input type="checkbox" id="rule_{{ rule.id }}" {% if rule.active %}checked{% endif %}
                    onchange="toggleRuleActive({{ rule.id }}, this.checked)"></td>
            <td>{{ rule.name }}</td>
            {% if device.device_type.enable_thermal %}
                <td>{{ rule.numeric_min }}</td>
                <td>{{ rule.numeric_max }}</td>
            {% endif %}
            {% if device.device_type.enable_time %}
                <td>{{ rule.time_min }}</td>
                <td>{{ rule.time_max }}</td>
            {% endif %}
            {% if device.device_type.enable_thermal %}
            <td>{{ rule.numeric_value }}</td>
            <td><label for="rule_new_value"></label>
                <input type="number" name="rule_new_value" id="rule_{{ rule.id }}_value" value={{ rule.numeric_value }}>
            </td>
            <td><button type="button" onclick="sendRuleAction({{ rule.id }}, 'set_value', 
                    {input_value_num: document.getElementById('rule_{{ rule.id }}_value').value})">Apply new value</button></td>
            {% endif %}
            <td><form method="get" action="{% url 'devices:edit_rule' rule.id %}">
                    <button type="submit">Edit</button>
                </form></td>
            <td><button class="buttonDelete" type="button" onclick="sendRuleAction({{ rule.id }}, 'delete')">Delete</button></td>
            <td><button type="button" onclick="window.location='{% url 'devices:rule_details' rule.id %}'">Details</button></td>
            </tr>
    {% endfor %}
</table>
<div class="center">
<button class="buttonDownload" onclick="window.location='{% url 'stats:export' 'device' device.id %}'">Download device log</button>
</div>
{% else %}
<p>No rules set yet</p>
{% endif %}

{% comment %} <button onclick="window.location='{% url 'devices:new_rule' device.id %}'">+ Add new rule</button> {% endcomment %}

<h3>Add a new rule:</h3>   
<form method="POST" action="{% url 'devices:details' device.id %}">
    {% csrf_token %}
    <div id="logic-form-fields">
        {{ logic_form }}
    </div>

    <button type="submit">+ Add Rule</button>
</form>
</div>

{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}

<br>

</div>

{% endblock %}



