{% extends "smarthome/base_user.html" %}

{% block title %}{{ device.device_name }} - Details{% endblock %}

{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'js/device_details.js' %}" defer></script>

<div class="container">
<div class="header"><h2>Device: {{ device.device_name }}</h2></div>
<div class="content">
<p><strong>Type: </strong>{{ device.device_type }}</p>
<p><strong>Room: </strong>{% if device.device_room %}{{ device.device_room }}{% else %}None{% endif %}</p>
<p><strong>On/Off: </strong>{% if device.state %}On{% else %}Off{% endif %}</p>

<h3>Rules set for this device:</h3>
{% if logic_controllers %}
<table class="tableRules">
    <tr>
        <th>Active/Inactive</th>
        <th>Name</th>
        <th>Numeric min</th>
        <th>Numeric max</th>
        <th>Time min</th>
        <th>Time max</th>
        <th>Value</th>
        <th>Set new value</th>
    </tr>
    {% for rule in logic_controllers %}
        <tr id="rule_{{ rule.id }}">
            <td>{% csrf_token %}
                <input type="checkbox" id="rule_{{ rule.id }}" {% if rule.active %}checked{% endif %}
                    onchange="toggleRuleActive({{ rule.id }}, this.checked)"></td>
            <td>{{ rule.name }}</td>
            <td>{{ rule.numeric_min }}</td>
            <td>{{ rule.numeric_max }}</td>
            <td>{{ rule.time_min }}</td>
            <td>{{ rule.time_max }}</td>
            <td>{{ rule.numeric_value }}</td>
            <form method="POST" action="{% url 'devices:details' device.id %}">
                {% csrf_token %}
                {{ form }}
                <td><label for="rule_new_value">New value:</label><input type="number" name="rule_new_value" id="rule_{{ rule.id }}_value"></td>
                <td><button type="submit" onclick="sendRuleAction({{ rule.id }}, 'edit')">Set new value</button></td>
            </form>
            <td><button class="buttonDelete" type="submit" onclick="sendRuleAction({{ rule.id }}, 'delete')">Delete</button></td>
            </tr>
    {% endfor %}
</table>
{% else %}
<p>No rules set yet</p>
{% endif %}

<h3>Add a new rule:</h3>   
<form method="POST" action="{% url 'devices:details' device.id %}">
    {% csrf_token %}
    <label for="logic_option">Choose logic type:</label>
    <select name="logic_option" id="logic_option">
        {% for code, name in logic_types %}
            <option value="{{ code }}">{{ name }}</option>
        {% endfor %}
    </select>

    <div id="logic-form-fields">
        {{ logic_form.as_p }}
    </div>

    <button type="submit">+ Add Rule</button>
</form>
</div>

{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}

<br>

<button onclick="window.location='{% url 'devices:home' %}'">Back</button>
</div>
{% endblock %}



