{% extends "smarthome/base_user.html" %}

{% block title %}Home - SmartHome{% endblock %}

{% block content %}
<div class="header"><h2>Devices:</h2></div>

<div class="content">
{% if devices %}
    <table class="tableDevices">
        <tr>
            <th>Device</th>
            <th>Type</th>
            <th>Room</th>
            <th>On/Off</th>
        </tr>
        {% for device in devices %}
        <tr>
            <td><a href="{% url 'devices:details' device.id %}" title="See details">{{ device.device_name }}</a></td>
            <td>{{ device.device_type }}</td>
            <td>{% if device.device_room %}{{ device.device_room }}{% endif %}</td>
            <td>{% if device.state %}On{% else %}Off{% endif %}</td>
            <td><form method="get" action="{% url 'devices:edit_device' device.id %}">
                    <button type="submit">Edit</button>
                </form></td>
            <td><form method="POST" action="{% url 'devices:delete_device' device.id %}">
                    {% csrf_token %}
                    <button type="submit" class="buttonDelete" onclick="return confirm('Are you sure you want to delete this device?')">Delete</button>
                </form></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>You have no devices yet.</p>
{% endif %}

<button onclick="window.location='{% url 'devices:new_device' %}'">+ Add device</button>
</div>
{% endblock %}

