{% extends "smarthome/base_user.html" %}

{% block title %} 
Edit Rule - Smarthome
{% endblock %}

{% block content %}
<div class="header"><h2>Edit Rule {{ device_name }}</h2></div>

<div class="content">
<form class="form-with-validation" method="post">
    {% csrf_token %}
    <div class="center" id="logic-form-fields">
        {{ logic_form.as_p }}
        <button type="submit">Save changes</button>
    </div>
</form>
</div>

<button class="buttonAdd" onclick="history.back()">Go Back</button>

{% endblock %}
