:root {
  --base-color: rgb(135, 190, 216);
  --text-color: rgb(12, 18, 49);
  --link-color: rgb(97, 48, 233);
  --button-color: rgb(0, 102, 71);
  --button-hover-color: oklch(from var(--button-color) calc(l - 0.2) c h);
  --button-text-color: rgb(210, 255, 236);
  --admin-color: rgb(139, 18, 196);
  --admin-hover-color: oklch(from var(--admin-color) calc(l - 0.2) c h);
  --red-color: rgb(194, 0, 0);
  --red-hover-color: oklch(from var(--red-color) calc(l - 0.2) c h);
  --table-color: oklch(from var(--base-color) calc(l - 0.1) c h);
  --table-header-color: oklch(from var(--base-color) calc(l - 0.2) c h);
  --table-row-color: oklch(from var(--base-color) calc(l - 0.05) c h);
}

.darkmode {
  --base-color: rgb(31, 45, 51);
  --text-color: rgb(178, 214, 168);
  --link-color: rgb(166, 166, 255);
  --button-color: rgb(0, 66, 141);
  --button-hover-color: oklch(from var(--button-color) calc(l + 0.2) c h);
  --button-text-color: rgb(196, 227, 255);
  --admin-color: rgb(97, 13, 136);
  --admin-hover-color: oklch(from var(--admin-color) calc(l + 0.2) c h);
  --red-color: rgb(151, 0, 0);
  --red-hover-color: oklch(from var(--red-color) calc(l + 0.2) c h);
  --table-color: oklch(from var(--base-color) calc(l + 0.1) c h);
  --table-header-color: oklch(from var(--base-color) calc(l + 0.2) c h);
  --table-row-color: oklch(from var(--base-color) calc(l + 0.05) c h);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* @media all and (min-width: 100px) {html {font-size: 20px;}}

@media all and (min-width: 1200px) {html {font-size: 18px;}} */

.container {
  display: grid;
  grid-template-areas: 
    "navbar"
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  text-align: center;
  font-size: 2rem;
}

.header > h1 {
  padding: 2rem;
}

.header > h2 {
  padding: 1rem;
}


.content {
  grid-area: main;
  padding: 1rem;
  font-size: 1.5rem;
}

.content > table {
  justify-self: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer > footer {
  grid-area: footer;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1em;
  opacity: 0.7;
  color: var(--text-color);
}

/* Kolor linków */
a {
  text-decoration: underline;
  color: var(--link-color);
}

a:hover {
  opacity: 0.85;
}

::placeholder {
  font-style: italic;
}

/* Buttons */
button {
  padding: 6px 6px;
  border: none;
  max-width: 10rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--button-text-color);
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--button-hover-color);
}

.buttonLogout {
  position: fixed;
  top: 120px;
  right: 10px;
  width: 5rem;
  border: 2px solid var(--text-color);
}

.buttonDownload {
  position: fixed;
  top: 190px;
  right: 10px;
  border: 1px solid var(--text-color);
  height: 4rem;
}

.buttonAdd {
  position: fixed;
  top: 100px;
  left: 10px;
  border: 1px solid var(--text-color);
  height: 4rem;
}

.admin {
  background-color: var(--admin-color);
  color: whitesmoke;
  max-width: 15rem;
  transition: background-color 0.2s ease-in-out;
}

.admin:hover {
  background-color: var(--admin-hover-color);
}

.buttonDelete {
  background-color: var(--red-color);
  color: whitesmoke;
  padding: 4px 5px;
  transition: background-color 0.2s ease-in-out;
}

.buttonDelete:hover {
  background-color: var(--red-hover-color);
}

.tableStats .buttonDelete  {
  background-color: oklch(from var(--text-color) l 0.3 90);
}


li.rooms {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  list-style-position: inside;
  list-style-type: square;
}

li.devices {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  list-style-type: none;
}


/* TABELE */
.tableDevices {
  border-width: 3px;
  border-style: hidden;
  border-color: var(--text-color);
  border-collapse: collapse;
  border-radius: 25px;
  background-color: var(--table-color);
  width: auto;
}

.tableDevices th, td {
  padding: 20px;
  border-bottom: 1px solid;
}

.tableDevices th {
  background-color: var(--table-header-color);
}

.tableDevices tr:nth-child(even) {
  background-color: var(--table-row-color);
}

.tableRules {
  border-width: 3px;
  border-style: hidden;
  border-color: var(--text-color);
  border-collapse: collapse;
  border-radius: 25px;
  background-color: var(--table-color);
  width: auto;
  text-align: center;
}

.tableRules th, td {
  padding: 20px;
  border-bottom: 1px solid;
}

.tableRules th {
  background-color: var(--table-header-color);
}

.tableRules tr:nth-child(even) {
  background-color: var(--table-row-color);
}

.tableStats {
  border-width: 3px;
  border-style: hidden;
  border-color: var(--text-color);
  border-collapse: collapse;
  border-radius: 25px;
  background-color: var(--table-color);
  width: auto;
  text-align: center;
}

.tableStats th, td {
  padding: 20px;
  border-bottom: 1px solid;
}

.tableStats th {
  background-color: var(--table-header-color);
}

.tableStats tr:nth-child(even) {
  background-color: var(--table-row-color);
}

.tableStats th > button {
  background-color: var(--button-color);
}

.tableStats th > button:hover {
  background-color: var(--button-hover-color);
}

.tableStats th > button[aria-current="page"] {
  background-color: var(--button-hover-color);
}

/* Pasek nawigacyjny */
.navBar {
  font-size: 1rem;
  background-color: var(--text-color);
  display: flex;
  justify-content: left;
}

.navBar li {
  list-style-type: none;
}

.navBar li a {
  display: block;
  color: var(--base-color); 
  padding: 0.8rem 1rem;
  text-decoration: none;
}

.navBar li a:hover {
  background-color: var(--base-color);
  color: var(--text-color);
}

.navBar li a[aria-current="page"] {
  background-color: var(--base-color);
  color: var(--text-color);
  opacity: 0.9;
}

/* FORMULARZE */
/* .formDeviceDetails {

} */


/* Styl dla formularza login i rejestracji Django */
.form-with-validation {
    font-size: 1.3rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    text-align: justify;
    gap: 1.5rem;
}

.form-with-validation ul {
    list-style-position: inside;
}

.form-with-validation div {
    gap: 0.5rem;
}

.form-with-validation input{
    padding: 0.4rem;
    max-width: 10rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    color: var(--base-color);
    background-color: oklch(from var(--text-color) calc(l + 0.2) c h);
}

.form-with-validation input:autofill {
    padding: 0.4rem;
    max-width: 10rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.9rem;
    color: var(--base-color);
    background-color: var(--text-color);
}

.form-with-validation select {
  background-color: oklch(from var(--text-color) calc(l + 0.2) c h);
  color: var(--base-color);
  padding: 0.4rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.form-with-validation div button {
  justify-self: center;
}

.form-submit {
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 8rem;
    color: azure;
}

.helptext {
    font-size: 0.8rem;
    margin-left: 1rem;
    opacity: 0.8;
}

.helptext ul {
    list-style-type: none;
    font-size: 0.8rem;
    color: #0056b3;
}

.errorlist {
    color: #F00;
}

.errorlist li::marker {
    content: '🚨 ';
}


/* przycisk motywu strony */
#theme-switch {
  height: 3rem;
  width: 3rem;
  padding: 0;
  border-radius: 50%;
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 4rem;
  right: 1rem;
}

#theme-switch:hover {
  opacity: 0.8;
}

#theme-switch svg {
  fill: var(--base-color);
  height: 1.75rem;
  width: 1.75rem;
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}